*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: yellow;
    display: grid;
    grid-row-gap: 9px;
    grid-column-gap: 9px;
    grid-template-columns: auto auto;
}
.item{
    background-color: aqua;
    border: 2px solid red;

}