.container{
    background-color: red;
    color: black;
    height: 35vh;
}
@media screen and (max-width: 800px) {
    .container{
        background-color: yellow;
    }
}

@media screen and (max-width: 400px) {
    .container{
        background-color: green;
    }
}