
p{
    font-size: 20px;
    /* font-weight: 500; */
    /* font-variant: small-caps; */
    /* font-family: 'Croissant One', serif; */
    font-family: 'Montserrat', sans-serif;
}
h1{
    /* font-family: 'Croissant One', serif; */
font-family: 'Montserrat', sans-serif;
}
h2{
    font-size: 30px;
    font-variant: small-caps;
}